
footer {
    .top {
        background-color: $main;
    }
    .bottom {
        background-color: $secondary;
    }
}

.club-identity {
    img {
        max-width: 90px;
        height: auto;
    }
}

#menu-secondary-menu {
    a {
        margin-right: 1rem;
    }
}

#menu-club-menu {
    flex-flow:column;

    a {
        margin-right: 1rem;
    }
}

.club-menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.category-news {
    img.staging {
        width:100%;
        height: auto;
        max-height:75vh;
        object-fit: cover;
    }
}

@media only screen and (min-width:767px) {
    .left-info {
        border-right: 1px solid hsla(0,0%,100%,.3);
    }
    .club-menu {
        margin-left: 1rem;
    }
}